.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.container {
  width: 200px;
  height: 50px;
  mask: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
